*{
    text-align: center;
    /* padding: 10; */
    /* margin: 10; */
}
body{
    background-image: url(../picture/photo_29_2025-08-26_10-13-06.jpg);
     background-repeat: no-repeat;
     background-position:50%;
     background-size: 100%;
     max-width:none;
     
     
}
 a{
    background-color: rgb(255, 255, 255) ;
   color: rgb(10, 0, 3);
    text-decoration: none;/* خط تحت النص او فوقه وبقية انواع زخرفة الرابط*/


}
 ul{
   display:;    /* تتحكم بالمواقع على حسب الخواص */
    justify-content: center;  /* ترتب المحتويات افقيا */
    align-content: center;
    list-style: none; /*  نقاط القوائم */
}
  ul li{
    margin-right: 5%;
    margin-bottom: 5%;

}
  ul li a{
    padding: 10px 10px;
    border-radius: 20px;
}
 ul li a:hover{
    background-color: rgb(255, 211, 131);
    color:black;
}
h1{
    background-color: bisque;
    margin-top: 10px;
    border-radius: 30px 10px 30px 10px;
    margin-right: 50vh;
    margin-left:50vh ;
    margin-bottom: 0;
    padding: 0%;
    size: 50%;
}
header ul li a{

  background: none;
  text-decoration: none;
}

#u
{
   text-align: center;
   color: rgb(0, 59, 126);
   background-color: rgb(255, 244, 183);
   border-radius: 20px 10px 30px 40px;
   font-size: 5vw;
   align-items: center;
   text-shadow: 20px 15px 20px  rgb(88, 70, 70);
   box-shadow:20px 15px 20px rgb(0, 0, 0) ;
   width: 50%;
   margin-left: 25%;


}

